<!DOCTYPE html>
<html>
<head>
  <title>Applift</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main-container">

    <div class="top-nav">
      <span><%= link_to "Home", gadgets_path %></span>
      <span><%= link_to "New Gadget", new_gadget_path %></span>
    </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</body>
</html>
